<%- include('header.ejs'); %>
<div class="section">
  <div class="container is-max-desktop">
    <div class="column">
      <h1 class="title">Registration</h1>
      <form class="form-horizontal" method="post" action="/register">
        <div class="field">
          <label for="name" class="label">Name:</label>
          <input type="text" class="input" id="name" name="name">
        </div>
        <div class="field">
          <label for="email" class="label">Email:</label>
          <input type="email" class="input" id="email" name="email">
        </div>
        <div class="field">
          <label for="password" class="label">Password:</label>
          <input type="password" class="input" id="password" name="password">
        </div>
        <div class="field">
          <label for="confirm" class="label">Re enter password:</label>
          <input type="password" class="input" id="confirm" name="confirm">
        </div>
        <div class="field">
          <p class="control">
            <button class="button is-primary" type="submit">
              Register
            </button>
            <a class="button" href="/login">To login page</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
</body>

</html>